rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Permitir acceso a los datos de usuario para usuarios autenticados
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Bloquear acceso a cualquier otro documento
    match /{document=**} {
      allow read, write: if false;
    }
  }
}